*.log
*.log.*
*.rdb
*.class
*.tmp
out
*.pyc
eclipse
nbproject
.settings
.project
.classpath
*.ipr
*.imr
*.iws
*.iml
*.ids
*.tags1
logs
test-result
version.conf
ofcupload
*.ids
*.bak

modules
**/modules
**/tmp

*/*/modules
*/*/tmp
*/tmp
*/modules


server.pid

# selenium
[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*

.idea/
module/dangdang/documentation/
module/sales/conf/test/solr/goods/collection1/data/
.DS_Store
*/*/core
*/*/target
.idea
.idea/
public/.idea/
precompiled
/modules
/tmp
/public/less/**/*.css
sonar-project.properties
/node_modules/
/webpack.config.js
